.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  color: #555;
  text-align: center;
  letter-spacing: .025rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizig: border-box;
  padding: 10px 15px;

  &:hover,
  &:active,
  &:focus {
    color: #333;
    border-color: #888;
    outline: 0;
  }
}
