.body {
  padding: 16px 32px;
  background: #333;
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: ce;
}

.body h1 {
  text-align: center;
  color: white;
  color: white;
  margin: 0;
}

.button {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: white;
}
