.header.row {
  padding: 16px 32px;
  background: #333;
}

.header.row h1 {
  text-align: center;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  color: #555;
  margin: 0;
}

.button {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: white;
}
